version: '3.8'

services:
  web:
    container_name: warehouse_app
    build: .
    restart: always
    ports:
      - "3095:3000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://rootpg:123456@pg-main-infra-monorepo-mysql-1:5432/warehouse?schema=public
      - NEXTAUTH_URL=http://localhost:3096
      - JWT_SECRET=fallback-secret-for-dev-only
    networks:
      - db-net
      - default
    volumes:
      - ./public/uploads:/app/public/uploads
    command: >
      sh -c "npx prisma migrate deploy && npx prisma db seed && node server.js"

networks:
  db-net:
    external: true
